.App {
  text-align: center;
}

.genug-logo {
  animation: genug-logo-spin infinite 20s cubic-bezier(1,0.1,0.1,1);
  height: 4vmin;
  pointer-events: none;
  float:left;
  display: block;
  width: 4vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes genug-logo-spin {
  0%,90% { /* creates delay */
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(180deg);
  }
}
